@page "/MainForums"
@using Contracts
@using Entities.Model
@inject NavigationManager nvgMgr
@inject IForumService forumService
<div class="container-fluid mt-100 body">
    
   
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header pr-0 pl-0">
                    <div class="row no-gutters align-items-center w-100">
                        <div class="col font-weight-bold pl-3">General</div>
                        <div class="d-none d-md-block col-6 text-muted">
                            <div class="row no-gutters align-items-center">
                                <div class="col-3">Sub Forums</div>
                                <div class="col-3">Total views</div>
                                <div class="col-6">Created By</div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (_mainForums != null)
                {
                    @foreach (var item in _mainForums)
                    {
                        <div class="card-body py-3">
                            <div class="row no-gutters align-items-center">
                                <div  class="col text-big font-weight-semibold" data-abc="true" @onclick="@(() => navigateTo(item.MainForumId))">@item.Title</div>
                                <div class="d-none d-md-block col-6">
                                    <div class="row no-gutters align-items-center">
                                       <div class="col-3">@NoOfSubForum(item.MainForumId)</div>
                                        <div class="col-3">@item.NoOfLikes</div>
                                       
                                        <div class="media col-6 align-items-center"> <img src="https://i.imgur.com/Ur43esv.jpg" alt="" class="d-block ui-w-30 rounded-circle">
                                            <div class="media-body flex-truncate ml-2"> <a href="javascript:void(0)" class="d-block text-truncate" data-abc="true">dfdf</a>
                                                <div class="text-muted small text-truncate">2d ago &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted" data-abc="true">@item.CreatedBy</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-0">
                    }
                }
                
               
                <hr class="m-0">
                
            </div>
        </div>
    </div>
</div>
<div>
    <button onclick="@navigateToCreateMainForum">Create main Forum</button>
</div>


@code
{
    private int? noOfSubForum ;

    private ICollection<MainForum>? _mainForums;

    private string errorLabel = "";
  

    protected override void OnInitialized()
    {
        GetMainForums();
        
    }

    private async void GetMainForums()
    {
       
        _mainForums = await forumService.GetAllForums();
        
    }
    private void navigateTo(int id)
    {
        nvgMgr.NavigateTo($"/AllForums/{id}");
    }

    private int? NoOfSubForum(int id)
    {
        foreach (var VARIABLE in _mainForums)
            {
                if (VARIABLE.MainForumId.Equals(id))
                {
                    noOfSubForum = VARIABLE.AllSubForums.Count;
                    break;
                }
                else
                {
                    noOfSubForum = 0;
                }
                
            }
      
        return noOfSubForum;
    }

    private void navigateToCreateMainForum()
    {
        nvgMgr.NavigateTo("/AddMainForum");
    }



}
